Source: ros-noetic-visp-tracker
Section: misc
Priority: optional
Maintainer: Fabien Spindler <fabien.spindler@inria.fr>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-dynamic-reconfigure, ros-noetic-geometry-msgs, ros-noetic-image-proc, ros-noetic-image-transport, ros-noetic-message-generation, ros-noetic-nodelet, ros-noetic-resource-retriever, ros-noetic-roscpp, ros-noetic-rospy, ros-noetic-sensor-msgs, ros-noetic-std-msgs, ros-noetic-tf, ros-noetic-visp
Homepage: http://wiki.ros.org/wiki/visp_tracker
Standards-Version: 3.9.2

Package: ros-noetic-visp-tracker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-dynamic-reconfigure, ros-noetic-geometry-msgs, ros-noetic-image-proc, ros-noetic-image-transport, ros-noetic-message-generation, ros-noetic-message-runtime, ros-noetic-nodelet, ros-noetic-resource-retriever, ros-noetic-roscpp, ros-noetic-rospy, ros-noetic-sensor-msgs, ros-noetic-std-msgs, ros-noetic-tf, ros-noetic-visp
Description: Wraps the ViSP moving edge tracker provided by the ViSP visual servoing library into a ROS package.
 This computer vision algorithm computes the pose (i.e. position and orientation) of an object in an image. It is fast enough to allow object online tracking using a camera.
