Source: ros-noetic-visp-camera-calibration
Section: misc
Priority: optional
Maintainer: Fabien Spindler <Fabien.Spindler@inria.fr>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-camera-calibration-parsers, ros-noetic-catkin, ros-noetic-geometry-msgs, ros-noetic-message-generation, ros-noetic-roscpp, ros-noetic-sensor-msgs, ros-noetic-std-msgs, ros-noetic-visp, ros-noetic-visp-bridge
Homepage: http://wiki.ros.org/visp_camera_calibration
Standards-Version: 3.9.2

Package: ros-noetic-visp-camera-calibration
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-camera-calibration-parsers, ros-noetic-geometry-msgs, ros-noetic-message-generation, ros-noetic-message-runtime, ros-noetic-roscpp, ros-noetic-rqt-console, ros-noetic-sensor-msgs, ros-noetic-std-msgs, ros-noetic-visp, ros-noetic-visp-bridge
Description: visp_camera_calibration allows easy calibration of cameras using a customizable pattern and ViSP library.
